@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

* {
	font-family: 'Baloo 2', cursive;
}

body {
	margin: 0;
	height: 100vh;
   background-color: #0064a7;
   color: #cfcfcf;
}

header {
	background: #0d212e;

	margin: 0;
	padding: 0 10px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav ul {
	display: flex;
	justify-content: flex-end;

	list-style: none;
}

nav ul li {
	padding: 10px 10px;
	box-sizing: border-box;

	text-transform: uppercase;
	font-weight: 700;
	color: bisque;

	transition: all 0.3s ease;
}

nav ul li:hover {
	border-bottom: 1px solid bisque;
	color: rgb(1, 185, 241);
}

/* main */
main {
	padding: 10px;
}

footer {
	background: #0d212e;
	color: bisque;

	margin: 0;
	margin-top: auto;
	padding: 20px;

	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
